#*.pdf
*.gz
*.tar
*.tar.gz
*.zip
IPEDS*.csv
Note
*.meta
*_batch*
*.mp4*
*.tmp*
readme.html

# remove sec_filings_pdf folder
sec_filings_pdf/
sp500_master_data.csv
*.npy
*.env
*.log

# remove sec_filings_pdf folder
sec_filings_pdf/
venv/
